# =========================
# General
# =========================
APP_ENV=dev
MODEL_ALIAS=champion
MODEL_REGISTRY_NAME=demand-forecasting-model

# =========================
# API / Auth
# =========================
API_KEY=<your-api-key>

# =========================
# Prefect
# =========================
PREFECT_API_URL=<your-prefect-api-url>
PREFECT_API_KEY=<your-prefect-api-key>
PREFECT_WORK_POOL=prod-pool

# =========================
# MLflow
# =========================
MLFLOW_TRACKING_URI=<your-mlflow-url>
MLFLOW_UI_URL=<your-mlflow-url>

# =========================
# GCP
# =========================
GCP_PROJECT_ID=<your-gcp-project-id>
GCP_REGION=europe-west1
GCP_BUCKET_NAME=<your-gcs-bucket>

GOOGLE_APPLICATION_CREDENTIALS=/path/to/service-account.json

# Artifact Registry
GCP_ARTIFACT_REPO_NAME=mlops-repo
GCP_ARTIFACT_REPO=europe-west1-docker.pkg.dev/<your-project>/mlops-repo

# =========================
# API Endpoint
# =========================
PREDICTION_API_URL=<your-api-url>

# =========================
# Integrations
# =========================
SLACK_WEBHOOK_URL=<your-slack-webhook>

# =========================
# GitHub (optional)
# =========================
GH_PAT_TOKEN=<your-github-token>

# =========================
# System (optional)
# =========================
UID=1000
GID=1000